
{
    attributes = 
    (
       
       {
           columnName = creature_id;
           externalType = integer;
           name = creatureId;
           precision = 10;
           serverTimeZone = US/Eastern;
           valueClassName = NSNumber;
           valueType = i;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           definition = person.creature.dateOfBirth;
           externalType = datetime;
           name = dateOfBirth;
           serverTimeZone = US/Eastern;
           valueClassName = NSCalendarDate;
       }, 
       
       {
           allowsNull = Y;
           columnName = drivers_license;
           externalType = char;
           name = driversLicense;
           valueClassName = NSString;
           width = 50;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           definition = person.favoriteDomesticatedAnimald;
           externalType = integer;
           name = favoriteDomesticatedAnimald;
           serverTimeZone = US/Eastern;
           valueClassName = NSNumber;
           valueType = i;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           definition = person.creature.firstName;
           externalType = char;
           name = firstName;
           serverTimeZone = US/Eastern;
           valueClassName = NSString;
           valueType = c;
           width = 50;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           definition = person.lastName;
           externalType = char;
           name = lastName;
           serverTimeZone = US/Eastern;
           valueClassName = NSString;
           valueType = c;
           width = 50;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           definition = person.creature.numberOfLegs;
           externalType = integer;
           name = numberOfLegs;
           precision = 10;
           serverTimeZone = US/Eastern;
           valueClassName = NSNumber;
           valueType = i;
       }, 
       
       {
           allowsNull = Y;
           columnName = "";
           definition = person.ssn;
           externalType = char;
           name = ssn;
           serverTimeZone = US/Eastern;
           valueClassName = NSString;
           valueType = c;
           width = 12;
       }
    );
    attributesUsedForLocking = 
    (
       creatureId, 
       dateOfBirth, 
       driversLicense, 
       favoriteDomesticatedAnimald, 
       firstName, 
       lastName, 
       numberOfLegs, 
       ssn
    );
    className = Adult;
    classProperties = 
    (
       dateOfBirth, 
       driversLicense, 
       favoriteDomesticatedAnimal, 
       firstName, 
       folders, 
       lastName, 
       numberOfLegs, 
       ssn
    );
    externalName = Adult;
    internalInfo = 
    {
        _clientClassPropertyNames = 
        (
           dateOfBirth, 
           driversLicense, 
           favoriteDomesticatedAnimal, 
           firstName, 
           lastName, 
           numberOfLegs, 
           ssn
        );
    };
    name = Adult;
    parent = Person;
    primaryKeyAttributes = 
    (
       creatureId
    );
    relationships = 
    (
       
       {
           deleteRule = EODeleteRuleCascade;
           destination = Creature;
           isMandatory = Y;
           isToMany = N;
           joinSemantic = EOInnerJoin;
           joins = 
           (
              
              {
                  destinationAttribute = creatureId;
                  sourceAttribute = creatureId;
              }
           );
           name = creature;
           ownsDestination = Y;
       }, 
       
       {
           definition = person.favoriteDomesticatedAnimal;
           internalInfo = 
           {
               _nameInObjectStore = person_favoriteDomesticatedAnimal;
           };
           name = favoriteDomesticatedAnimal;
       }, 
       
       {
           deleteRule = EODeleteRuleCascade;
           destination = FolderData;
           isToMany = Y;
           joinSemantic = EOInnerJoin;
           joins = 
           (
              
              {
                  destinationAttribute = dataId;
                  sourceAttribute = creatureId;
              }
           );
           name = folderDatas;
           ownsDestination = Y;
           propagatesPrimaryKey = Y;
       }, 
       
       {
           definition = folderDatas.folder;
           name = folders;
       }, 
       
       {
           deleteRule = EODeleteRuleCascade;
           destination = Person;
           isMandatory = Y;
           isToMany = N;
           joinSemantic = EOInnerJoin;
           joins = 
           (
              
              {
                  destinationAttribute = creatureId;
                  sourceAttribute = creatureId;
              }
           );
           name = person;
           ownsDestination = Y;
       }
    );
}