
{
    attributes = 
    (
       
       {
           columnName = creature_id;
           externalType = integer;
           name = creatureId;
           precision = 10;
           valueClassName = NSNumber;
           valueType = i;
       }, 
       
       {
           allowsNull = Y;
           columnName = date_of_birth;
           externalType = datetime;
           name = dateOfBirth;
           valueClassName = NSCalendarDate;
       }, 
       
       {
           allowsNull = Y;
           columnName = first_name;
           externalType = char;
           name = firstName;
           valueClassName = NSString;
           valueType = c;
           width = 50;
       }, 
       
       {
           allowsNull = Y;
           columnName = number_of_legs;
           externalType = integer;
           name = numberOfLegs;
           precision = 10;
           valueClassName = NSNumber;
           valueType = i;
       }
    );
    attributesUsedForLocking = 
    (
       creatureId, 
       dateOfBirth, 
       firstName, 
       numberOfLegs
    );
    className = Creature;
    classProperties = 
    (
       dateOfBirth, 
       firstName, 
       folders, 
       numberOfLegs
    );
    externalName = Creature;
    internalInfo = 
    {
        _clientClassPropertyNames = 
        (
           dateOfBirth, 
           firstName, 
           numberOfLegs
        );
    };
    isAbstractEntity = Y;
    name = Creature;
    primaryKeyAttributes = 
    (
       creatureId
    );
    relationships = 
    (
       
       {
           deleteRule = EODeleteRuleCascade;
           destination = FolderData;
           isToMany = Y;
           joinSemantic = EOInnerJoin;
           joins = 
           (
              
              {
                  destinationAttribute = dataId;
                  sourceAttribute = creatureId;
              }
           );
           name = folderDatas;
           ownsDestination = Y;
           propagatesPrimaryKey = Y;
       }, 
       
       {
           definition = folderDatas.folder;
           name = folders;
       }
    );
}