<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Adult</key>
	<dict>
		<key>attributeNames</key>
		<array>
			<string>creatureId</string>
			<string>dateOfBirth</string>
			<string>driversLicense</string>
			<string>favoriteDomesticatedAnimald</string>
			<string>firstName</string>
			<string>lastName</string>
			<string>numberOfLegs</string>
			<string>ssn</string>
			<string>type</string>
		</array>
		<key>rows</key>
		<array>
			<array>
				<string>2</string>
				<string>Dec 20 1969 05:00</string>
				<string>CA 1234567</string>
				<string>4</string>
				<string>Rachel</string>
				<string>Proton</string>
				<string>2</string>
				<string>222-33-4444</string>
				<string>Adult</string>
			</array>
		</array>
	</dict>
	<key>Animal</key>
	<dict>
		<key>attributeNames</key>
		<array>
			<string>creatureId</string>
			<string>dateOfBirth</string>
			<string>firstName</string>
			<string>isCarnivore</string>
			<string>numberOfLegs</string>
			<string>scientificName</string>
			<string>type</string>
		</array>
		<key>rows</key>
		<array>
			<array>
				<string>8</string>
				<string>Jul 01 0091 04:00</string>
				<string>King</string>
				<string>1</string>
				<string>4</string>
				<string>Panthera leo</string>
				<string>Lion</string>
			</array>
			<array>
				<string>7</string>
				<string>Jun 01 1989 04:00</string>
				<string>Guernsey</string>
				<string>0</string>
				<string>4</string>
				<string>Bos taurus</string>
				<string>Cow</string>
			</array>
			<array>
				<string>6</string>
				<string>May 01 1978 04:00</string>
				<string>Corky</string>
				<string>1</string>
				<string>4</string>
				<string>Canis familiaris</string>
				<string>Dog</string>
			</array>
			<array>
				<string>5</string>
				<string>Apr 01 1980 05:00</string>
				<string>Felix</string>
				<string>1</string>
				<string>4</string>
				<string>Felis catus</string>
				<string>Cat</string>
			</array>
			<array>
				<string>4</string>
				<string>Mar 01 1981 05:00</string>
				<string>Blaze</string>
				<string>0</string>
				<string>4</string>
				<string>Equus caballos</string>
				<string>Horse</string>
			</array>
			<array>
				<string>3</string>
				<string>Feb 01 1969 05:00</string>
				<string>Smokey</string>
				<string>0</string>
				<string>4</string>
				<string>Ursus americanus</string>
				<string>Bear</string>
			</array>
		</array>
	</dict>
	<key>Bear</key>
	<dict>
		<key>attributeNames</key>
		<array>
			<string>creatureId</string>
			<string>dateOfBirth</string>
			<string>firstName</string>
			<string>isCarnivore</string>
			<string>numberOfLegs</string>
			<string>scientificName</string>
			<string>type</string>
		</array>
		<key>rows</key>
		<array>
			<array>
				<string>3</string>
				<string>Feb 01 1969 05:00</string>
				<string>Smokey</string>
				<string>0</string>
				<string>4</string>
				<string>Ursus americanus</string>
				<string>Bear</string>
			</array>
		</array>
	</dict>
	<key>Cat</key>
	<dict>
		<key>attributeNames</key>
		<array>
			<string>creatureId</string>
			<string>dateOfBirth</string>
			<string>firstName</string>
			<string>isCarnivore</string>
			<string>numberOfLegs</string>
			<string>scientificName</string>
			<string>type</string>
		</array>
		<key>rows</key>
		<array>
			<array>
				<string>5</string>
				<string>Apr 01 1980 05:00</string>
				<string>Felix</string>
				<string>1</string>
				<string>4</string>
				<string>Felis catus</string>
				<string>Cat</string>
			</array>
		</array>
	</dict>
	<key>Child</key>
	<dict>
		<key>attributeNames</key>
		<array>
			<string>creatureId</string>
			<string>dateOfBirth</string>
			<string>favoriteDomesticatedAnimald</string>
			<string>firstName</string>
			<string>lastName</string>
			<string>numberOfLegs</string>
			<string>ssn</string>
			<string>type</string>
		</array>
		<key>rows</key>
		<array>
			<array>
				<string>1</string>
				<string>Apr 23 1966 05:00</string>
				<string>6</string>
				<string>David</string>
				<string>Proton</string>
				<string>2</string>
				<string>111-22-3333</string>
				<string>Child</string>
			</array>
			<array>
				<string>9</string>
				<string>Aug 01 1961 04:00</string>
				<string>5</string>
				<string>Sarah</string>
				<string>Wagner</string>
				<string>2</string>
				<string>444-55-6666</string>
				<string>Child</string>
			</array>
		</array>
	</dict>
	<key>Cow</key>
	<dict>
		<key>attributeNames</key>
		<array>
			<string>creatureId</string>
			<string>dateOfBirth</string>
			<string>firstName</string>
			<string>isCarnivore</string>
			<string>isDairyBreed</string>
			<string>numberOfLegs</string>
			<string>scientificName</string>
			<string>type</string>
		</array>
		<key>rows</key>
		<array>
			<array>
				<string>7</string>
				<string>Jun 01 1989 04:00</string>
				<string>Guernsey</string>
				<string>0</string>
				<string>1</string>
				<string>4</string>
				<string>Bos taurus</string>
				<string>Cow</string>
			</array>
		</array>
	</dict>
	<key>Creature</key>
	<dict>
		<key>attributeNames</key>
		<array>
			<string>creatureId</string>
			<string>dateOfBirth</string>
			<string>firstName</string>
			<string>numberOfLegs</string>
			<string>type</string>
		</array>
		<key>rows</key>
		<array>
			<array>
				<string>8</string>
				<string>Jul 01 0091 04:00</string>
				<string>King</string>
				<string>4</string>
				<string>Lion</string>
			</array>
			<array>
				<string>7</string>
				<string>Jun 01 1989 04:00</string>
				<string>Guernsey</string>
				<string>4</string>
				<string>Cow</string>
			</array>
			<array>
				<string>6</string>
				<string>May 01 1978 04:00</string>
				<string>Corky</string>
				<string>4</string>
				<string>Dog</string>
			</array>
			<array>
				<string>5</string>
				<string>Apr 01 1980 05:00</string>
				<string>Felix</string>
				<string>4</string>
				<string>Cat</string>
			</array>
			<array>
				<string>4</string>
				<string>Mar 01 1981 05:00</string>
				<string>Blaze</string>
				<string>4</string>
				<string>Horse</string>
			</array>
			<array>
				<string>3</string>
				<string>Feb 01 1969 05:00</string>
				<string>Smokey</string>
				<string>4</string>
				<string>Bear</string>
			</array>
			<array>
				<string>2</string>
				<string>Dec 20 1969 05:00</string>
				<string>Rachel</string>
				<string>2</string>
				<string>Adult</string>
			</array>
			<array>
				<string>1</string>
				<string>Apr 23 1966 05:00</string>
				<string>David</string>
				<string>2</string>
				<string>Child</string>
			</array>
			<array>
				<string>9</string>
				<string>Aug 01 1961 04:00</string>
				<string>Sarah</string>
				<string>2</string>
				<string>Child</string>
			</array>
		</array>
	</dict>
	<key>Dog</key>
	<dict>
		<key>attributeNames</key>
		<array>
			<string>creatureId</string>
			<string>dateOfBirth</string>
			<string>firstName</string>
			<string>isCarnivore</string>
			<string>numberOfLegs</string>
			<string>scientificName</string>
			<string>type</string>
		</array>
		<key>rows</key>
		<array>
			<array>
				<string>6</string>
				<string>May 01 1978 04:00</string>
				<string>Corky</string>
				<string>1</string>
				<string>4</string>
				<string>Canis familiaris</string>
				<string>Dog</string>
			</array>
		</array>
	</dict>
	<key>Domesticated</key>
	<dict>
		<key>attributeNames</key>
		<array>
			<string>creatureId</string>
			<string>dateOfBirth</string>
			<string>firstName</string>
			<string>isCarnivore</string>
			<string>numberOfLegs</string>
			<string>scientificName</string>
			<string>type</string>
		</array>
		<key>rows</key>
		<array>
			<array>
				<string>7</string>
				<string>Jun 01 1989 04:00</string>
				<string>Guernsey</string>
				<string>0</string>
				<string>4</string>
				<string>Bos taurus</string>
				<string>Cow</string>
			</array>
			<array>
				<string>6</string>
				<string>May 01 1978 04:00</string>
				<string>Corky</string>
				<string>1</string>
				<string>4</string>
				<string>Canis familiaris</string>
				<string>Dog</string>
			</array>
			<array>
				<string>5</string>
				<string>Apr 01 1980 05:00</string>
				<string>Felix</string>
				<string>1</string>
				<string>4</string>
				<string>Felis catus</string>
				<string>Cat</string>
			</array>
			<array>
				<string>4</string>
				<string>Mar 01 1981 05:00</string>
				<string>Blaze</string>
				<string>0</string>
				<string>4</string>
				<string>Equus caballos</string>
				<string>Horse</string>
			</array>
		</array>
	</dict>
	<key>Folder</key>
	<dict>
		<key>attributeNames</key>
		<array>
			<string>folderId</string>
			<string>name</string>
			<string>parentNodeId</string>
		</array>
		<key>rows</key>
		<array>
			<array>
				<string>6</string>
				<string>Folder 1.2</string>
				<string>2</string>
			</array>
			<array>
				<string>5</string>
				<string>Folder 1.1</string>
				<string>2</string>
			</array>
			<array>
				<string>4</string>
				<string>Folder 3</string>
				<string>1</string>
			</array>
			<array>
				<string>3</string>
				<string>Folder 2</string>
				<string>1</string>
			</array>
			<array>
				<string>2</string>
				<string>Folder 1</string>
				<string>1</string>
			</array>
			<array>
				<string>1</string>
				<string>ROOT</string>
				<string>__NULL__</string>
			</array>
			<array>
				<string>7</string>
				<string>Folder 2.1</string>
				<string>3</string>
			</array>
		</array>
	</dict>
	<key>FolderData</key>
	<dict>
		<key>attributeNames</key>
		<array>
			<string>dataId</string>
			<string>folderId</string>
		</array>
		<key>rows</key>
		<array>
			<array>
				<string>2</string>
				<string>4</string>
			</array>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<array>
				<string>9</string>
				<string>2</string>
			</array>
			<array>
				<string>8</string>
				<string>4</string>
			</array>
			<array>
				<string>7</string>
				<string>7</string>
			</array>
			<array>
				<string>6</string>
				<string>3</string>
			</array>
			<array>
				<string>5</string>
				<string>6</string>
			</array>
			<array>
				<string>4</string>
				<string>5</string>
			</array>
			<array>
				<string>3</string>
				<string>2</string>
			</array>
			<array>
				<string>2</string>
				<string>1</string>
			</array>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<array>
				<string>5</string>
				<string>7</string>
			</array>
			<array>
				<string>4</string>
				<string>7</string>
			</array>
			<array>
				<string>3</string>
				<string>7</string>
			</array>
			<array>
				<string>9</string>
				<string>6</string>
			</array>
			<array>
				<string>6</string>
				<string>6</string>
			</array>
		</array>
	</dict>
	<key>Horse</key>
	<dict>
		<key>attributeNames</key>
		<array>
			<string>breed</string>
			<string>creatureId</string>
			<string>dateOfBirth</string>
			<string>firstName</string>
			<string>isCarnivore</string>
			<string>numberOfLegs</string>
			<string>scientificName</string>
			<string>type</string>
		</array>
		<key>rows</key>
		<array>
			<array>
				<string>Arabian</string>
				<string>4</string>
				<string>Mar 01 1981 05:00</string>
				<string>Blaze</string>
				<string>0</string>
				<string>4</string>
				<string>Equus caballos</string>
				<string>Horse</string>
			</array>
		</array>
	</dict>
	<key>Lion</key>
	<dict>
		<key>attributeNames</key>
		<array>
			<string>creatureId</string>
			<string>dateOfBirth</string>
			<string>firstName</string>
			<string>isCarnivore</string>
			<string>numberOfLegs</string>
			<string>scientificName</string>
			<string>type</string>
		</array>
		<key>rows</key>
		<array>
			<array>
				<string>8</string>
				<string>Jul 01 0091 04:00</string>
				<string>King</string>
				<string>1</string>
				<string>4</string>
				<string>Panthera leo</string>
				<string>Lion</string>
			</array>
		</array>
	</dict>
	<key>Person</key>
	<dict>
		<key>attributeNames</key>
		<array>
			<string>creatureId</string>
			<string>dateOfBirth</string>
			<string>favoriteDomesticatedAnimald</string>
			<string>firstName</string>
			<string>lastName</string>
			<string>numberOfLegs</string>
			<string>ssn</string>
			<string>type</string>
		</array>
		<key>rows</key>
		<array>
			<array>
				<string>2</string>
				<string>Dec 20 1969 05:00</string>
				<string>4</string>
				<string>Rachel</string>
				<string>Proton</string>
				<string>2</string>
				<string>222-33-4444</string>
				<string>Adult</string>
			</array>
			<array>
				<string>1</string>
				<string>Apr 23 1966 05:00</string>
				<string>6</string>
				<string>David</string>
				<string>Proton</string>
				<string>2</string>
				<string>111-22-3333</string>
				<string>Child</string>
			</array>
			<array>
				<string>9</string>
				<string>Aug 01 1961 04:00</string>
				<string>5</string>
				<string>Sarah</string>
				<string>Wagner</string>
				<string>2</string>
				<string>444-55-6666</string>
				<string>Child</string>
			</array>
		</array>
	</dict>
	<key>Wild</key>
	<dict>
		<key>attributeNames</key>
		<array>
			<string>creatureId</string>
			<string>dateOfBirth</string>
			<string>firstName</string>
			<string>isCarnivore</string>
			<string>numberOfLegs</string>
			<string>scientificName</string>
			<string>type</string>
		</array>
		<key>rows</key>
		<array>
			<array>
				<string>8</string>
				<string>Jul 01 0091 04:00</string>
				<string>King</string>
				<string>1</string>
				<string>4</string>
				<string>Panthera leo</string>
				<string>Lion</string>
			</array>
			<array>
				<string>3</string>
				<string>Feb 01 1969 05:00</string>
				<string>Smokey</string>
				<string>0</string>
				<string>4</string>
				<string>Ursus americanus</string>
				<string>Bear</string>
			</array>
		</array>
	</dict>
</dict>
</plist>
