<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Admin</key>
	<dict>
		<key>attributeNames</key>
		<array>
			<string>addressID</string>
			<string>age</string>
			<string>dateOfBirth</string>
			<string>employeeType</string>
			<string>firstName</string>
			<string>lastName</string>
			<string>login</string>
			<string>managerID</string>
			<string>office</string>
			<string>password</string>
			<string>personID</string>
			<string>salary</string>
			<string>status</string>
		</array>
		<key>rows</key>
		<array>
			<array>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>2</string>
				<string>Administrator</string>
				<string>__NULL__</string>
				<string>admin</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>admin</string>
				<string>65</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
			</array>
		</array>
	</dict>
	<key>Student</key>
	<dict>
		<key>attributeNames</key>
		<array>
			<string>addressID</string>
			<string>age</string>
			<string>dateOfBirth</string>
			<string>firstName</string>
			<string>lastName</string>
			<string>login</string>
			<string>password</string>
			<string>personID</string>
			<string>status</string>
		</array>
		<key>rows</key>
		<array>
			<array>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>Guest</string>
				<string>__NULL__</string>
				<string>guest</string>
				<string>guest</string>
				<string>62</string>
				<string>__NULL__</string>
			</array>
		</array>
	</dict>
	<key>Teacher</key>
	<dict>
		<key>attributeNames</key>
		<array>
			<string>addressID</string>
			<string>age</string>
			<string>dateOfBirth</string>
			<string>degree</string>
			<string>department</string>
			<string>employeeType</string>
			<string>firstName</string>
			<string>lastName</string>
			<string>login</string>
			<string>managerID</string>
			<string>office</string>
			<string>password</string>
			<string>personID</string>
			<string>salary</string>
			<string>scheduledClassID</string>
			<string>status</string>
		</array>
		<key>rows</key>
		<array>
			<array>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>Feb 24 2019 00:00</string>
				<string>__NULL__</string>
				<string>Physics</string>
				<string>3</string>
				<string>Albert</string>
				<string>Einstein</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>4</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
			</array>
			<array>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>Mar 03 1933 00:00</string>
				<string>__NULL__</string>
				<string>Music</string>
				<string>3</string>
				<string>Frank</string>
				<string>Sinatra</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>5</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
			</array>
			<array>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>Apr 04 1944 00:00</string>
				<string>__NULL__</string>
				<string>Drama</string>
				<string>3</string>
				<string>Gene</string>
				<string>Wilder</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>10</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
			</array>
			<array>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>Jan 16 1951 00:00</string>
				<string>__NULL__</string>
				<string>Biology</string>
				<string>3</string>
				<string>Dianne</string>
				<string>Flossey</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>11</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
			</array>
			<array>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>May 28 1956 00:00</string>
				<string>__NULL__</string>
				<string>Government</string>
				<string>3</string>
				<string>Bill</string>
				<string>Clinton</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>12</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
			</array>
			<array>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>Mar 17 1942 00:00</string>
				<string>__NULL__</string>
				<string>Economics</string>
				<string>3</string>
				<string>John</string>
				<string>Locke</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>13</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
			</array>
			<array>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>Feb 18 1949 00:00</string>
				<string>__NULL__</string>
				<string>History</string>
				<string>3</string>
				<string>James</string>
				<string>Burke</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>14</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
				<string>__NULL__</string>
			</array>
		</array>
	</dict>
</dict>
</plist>
