<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bathrooms</key>
	<array>
		<dict>
			<key>displayValue</key>
			<string>1+</string>
			<key>value</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>1 1/2+</string>
			<key>value</key>
			<string>1.5</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>2+</string>
			<key>value</key>
			<string>2.0</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>2 1/2+</string>
			<key>value</key>
			<string>2.5</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>3+</string>
			<key>value</key>
			<string>3.0</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>4+</string>
			<key>value</key>
			<string>4.0</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>5+</string>
			<key>value</key>
			<string>5.0</string>
		</dict>
	</array>
	<key>bedrooms</key>
	<array>
		<dict>
			<key>displayValue</key>
			<string>1+</string>
			<key>value</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>2+</string>
			<key>value</key>
			<string>2.0</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>3+</string>
			<key>value</key>
			<string>3.0</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>4+</string>
			<key>value</key>
			<string>4.0</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>5+</string>
			<key>value</key>
			<string>5.0</string>
		</dict>
	</array>
	<key>prices</key>
	<array>
		<dict>
			<key>displayValue</key>
			<string>$0</string>
			<key>value</key>
			<string>0</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$25,000</string>
			<key>value</key>
			<string>25000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$50,000</string>
			<key>value</key>
			<string>50000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$100,000</string>
			<key>value</key>
			<string>100000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$125,000</string>
			<key>value</key>
			<string>125000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$150,000</string>
			<key>value</key>
			<string>150000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$175,000</string>
			<key>value</key>
			<string>175000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$200,000</string>
			<key>value</key>
			<string>200000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$225,000</string>
			<key>value</key>
			<string>225000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$250,000</string>
			<key>value</key>
			<string>250000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$275,000</string>
			<key>value</key>
			<string>275000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$300,000</string>
			<key>value</key>
			<string>300000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$350,000</string>
			<key>value</key>
			<string>350000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$400,000</string>
			<key>value</key>
			<string>400000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$450,000</string>
			<key>value</key>
			<string>450000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$500,000</string>
			<key>value</key>
			<string>500000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$750,000</string>
			<key>value</key>
			<string>750000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$1 million</string>
			<key>value</key>
			<string>1000000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$1.25 million</string>
			<key>value</key>
			<string>1250000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$1.5 million</string>
			<key>value</key>
			<string>1500000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$1.75 million</string>
			<key>value</key>
			<string>1750000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$2 million</string>
			<key>value</key>
			<string>2000000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$3 million</string>
			<key>value</key>
			<string>3000000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$4 million</string>
			<key>value</key>
			<string>4000000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>$5 million</string>
			<key>value</key>
			<string>5000000</string>
		</dict>
		<dict>
			<key>displayValue</key>
			<string>No limit</string>
			<key>value</key>
			<string>2147483647</string>
		</dict>
	</array>
	<key>states</key>
	<array>
		<dict>
			<key>abbreviation</key>
			<string></string>
			<key>name</key>
			<string>Any State</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>AL</string>
			<key>name</key>
			<string>Alabama</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>AK</string>
			<key>name</key>
			<string>Alaska</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>AZ</string>
			<key>name</key>
			<string>Arizona</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>AR</string>
			<key>name</key>
			<string>Arkansas</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>CA</string>
			<key>name</key>
			<string>California</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>CO</string>
			<key>name</key>
			<string>Colorado</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>CT</string>
			<key>name</key>
			<string>Connecticut</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>DE</string>
			<key>name</key>
			<string>Delaware</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>DC</string>
			<key>name</key>
			<string>District of Columbia</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>FL</string>
			<key>name</key>
			<string>Florida</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>GA</string>
			<key>name</key>
			<string>Georgia</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>GU</string>
			<key>name</key>
			<string>Guam</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>HI</string>
			<key>name</key>
			<string>Hawaii</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>ID</string>
			<key>name</key>
			<string>Idaho</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>IL</string>
			<key>name</key>
			<string>Illinois</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>IN</string>
			<key>name</key>
			<string>Indiana</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>IA</string>
			<key>name</key>
			<string>Iowa</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>KS</string>
			<key>name</key>
			<string>Kansas</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>KY</string>
			<key>name</key>
			<string>Kentucky</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>LA</string>
			<key>name</key>
			<string>Louisiana</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>ME</string>
			<key>name</key>
			<string>Maine</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>MD</string>
			<key>name</key>
			<string>Maryland</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>MA</string>
			<key>name</key>
			<string>Massachusetts</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>MI</string>
			<key>name</key>
			<string>Michigan</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>MN</string>
			<key>name</key>
			<string>Minnesota</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>MS</string>
			<key>name</key>
			<string>Mississippi</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>MO</string>
			<key>name</key>
			<string>Missouri</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>MT</string>
			<key>name</key>
			<string>Montana</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>NE</string>
			<key>name</key>
			<string>Nebraska</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>NV</string>
			<key>name</key>
			<string>Nevada</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>NH</string>
			<key>name</key>
			<string>New Hampshire</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>NJ</string>
			<key>name</key>
			<string>New Jersey</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>NM</string>
			<key>name</key>
			<string>New Mexico</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>NY</string>
			<key>name</key>
			<string>New York</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>NC</string>
			<key>name</key>
			<string>North Carolina</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>ND</string>
			<key>name</key>
			<string>North Dakota</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>OH</string>
			<key>name</key>
			<string>Ohio</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>OK</string>
			<key>name</key>
			<string>Oklahoma</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>OR</string>
			<key>name</key>
			<string>Oregon</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>PA</string>
			<key>name</key>
			<string>Pennsylvania</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>RI</string>
			<key>name</key>
			<string>Rhode Island</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>SC</string>
			<key>name</key>
			<string>South Carolina</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>SD</string>
			<key>name</key>
			<string>South Dakota</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>TN</string>
			<key>name</key>
			<string>Tennessee</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>TX</string>
			<key>name</key>
			<string>Texas</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>US</string>
			<key>name</key>
			<string>US Territories and Possessions</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>UT</string>
			<key>name</key>
			<string>Utah</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>VT</string>
			<key>name</key>
			<string>Vermont</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>VA</string>
			<key>name</key>
			<string>Virginia</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>WA</string>
			<key>name</key>
			<string>Washington</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>WV</string>
			<key>name</key>
			<string>West Virginia</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>WI</string>
			<key>name</key>
			<string>Wisconsin</string>
		</dict>
		<dict>
			<key>abbreviation</key>
			<string>WY</string>
			<key>name</key>
			<string>Wyoming</string>
		</dict>
	</array>
</dict>
</plist>
